<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Информация
                </div>
            </div>
            <div class="panel-body">
                Профиль ПК 346-1 относится к виду сплошного, постоянного по длине сечения профиль; к группе
                косоугольные, подгруппе тавры; изготавливается из сплава АД1. Поставляется в отожженном состоянии.
                Площадь сечения профиля 655 мм<sup>2</sup>. Профиль не симметричен относительно осей X и Y . Длина
                изделия 1760 мм.
                <div class="text-center">
                    <img class="img-thumbnail" width="40%" ng-src="content/4.jpg" alt="Рисунок 4"/>

                    <div class="small"><strong>Рисунок 4 - Эскиз профиля</strong></div>
                </div>
                При прессовании профилей из алюминиевых сплавов используют сплошные цилиндрические заготовки
                круглого
                сечения диаметром D и длиной L. Для прямого метода прессования должно выполняться эмпирическое
                условие.

                <div class="text-center h4">≤ L/D ≤ 4,5</div>

                Технической характеристикой процесса прессования, определяющей размер заготовки, является
                коэффициент
                вытяжки. Его определяют как отношение площади поперечного сечения контейнера к площади сечений
                всех
                n - каналов матрицы:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm1.jpg" alt="Формула 1"/>
                </div>
                Как показывает практика, коэффициент &#955; назначают из опыта и интуиции инженера. Для прессования
                профилей из алюминиевого сплава АД1 рекомендуемый коэффициент вытяжки в пределах до 200.

                Далее определяем значение фактического коэффициента вытяжки:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm2.jpg" alt="Формула 2"/>
                </div>
                где F<sub>k</sub> - действительная площадь поперечного сечения контейнера.
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm3.jpg"/>
                </div>
                Длину заготовки определяют исходя из длины прессованного профиля по формуле:
                <div class="text-center">
                    <img ng-src="content/frm4.jpg" class="img-thumbnail" alt="Формула 4"/>
                </div>
                где:
                <ul>
                    <li>l - длина готового профиля, l = 1,76 м;</li>
                    <li>Д - припуск на длину, Д = 0,14 м;</li>
                    <li>l<sub>ко</sub> - длина концевой обрезки, l<sub>ко</sub> = 0,5 м;</li>
                    <li>Н - высота пресс-остатка, Н = 40 мм.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">
                    Расчеты
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="text-center h4">Введите значения для расчета</div>
                        <div class="input-group">
                            <div class="input-group-addon">f =</div>
                            <input type="number" class="form-control" ng-model="fProfile"
                                   ng-init="fProfile=655"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                n =
                            </div>
                            <input type="number" class="form-control" ng-model="matrixChanel"
                                   ng-init="matrixChanel=1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                &#955; =
                            </div>
                            <input type="number" ng-model="lengthFactor" class="form-control"
                                   ng-init="lengthFactor=34"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Результаты расчета
                </div>
            </div>
            <div class="panel-body">
                Зная, площадь поперечного сечения прессованного профиля f = {{fProfile}} и задавшись числом каналов в
                матрице n = {{matrixChanel}} коэффициентом
                вытяжки &#955; = {{lengthFactor}},
                определяем
                ориентировочную площадь поперечного сечения контейнера:
                <div class="text-center h4">F<sub>k0</sub>=n * &#955; * f = {{matrixChanel}} *
                    {{lengthFactor}} * {{fProfile}} = {{matrixChanel*lengthFactor*fProfile}} мм<sup>2</sup>
                </div>
                И его ориентировочный корень:
                <div class="text-center h4">D<sub>k0</sub> = 1,13&#8730;F<sub>k0</sub> = 1,13&#8730;{{matrixChanel*lengthFactor*fProfile}}
                    = {{(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2)}} мм
                </div>
                По расчётному значению D<sub>ko</sub> =
                {{(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2)}} мм выбираем тип пресса с
                усилием Р
                = 20 МН.
                Далее определяем значение фактического коэффициента вытяжки:
                <div class="text-center h4">
                    F<sub>k</sub> = (3.14 *
                    {{(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2)}}<sup>2</sup>) / 4 =
                    {{((Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2),2) *
                    3.14)/4).toFixed(2)}}
                </div>
                и λ<sub>ф</sub>:
                <div class="text-center h4">
                    λ<sub>ф</sub> =
                    {{((Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2),2) *
                    3.14)/4).toFixed(2)}} / {{fProfile}} * {{matrixChanel}} =
                    {{(((Math.pow(Math.round(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))),2)
                    *
                    3.14)/4).toFixed(2) / (fProfile * matrixChanel )).toFixed(2)}}
                </div>
                Коэффициент распрессовки заготовки:
                <div class="text-center h4">
                    λ<sub>р</sub> = F<sub>k</sub> / F = (D<sub>k</sub> / D)<sup>2</sup> =
                    ({{(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2)}} /
                    {{(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2))}})<sup>2</sup> =
                    {{Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2).toFixed(2)}}
                </div>
                Следовательно длина заготовки равна:
                <div class="text-center h4">
                    L = ( ( 4 [ (1760 + 140) * 8 + 500 ] * {{matrixChanel}} * {{fProfile}} ) / ( 3.14 * {{
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2))}}<sup>2</sup> ) ) + 40 *
                    {{Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2).toFixed(2)}} = {{(( (
                    4 *
                    Math.abs((1760 + 140) * 8 + 500) * matrixChanel * fProfile ) / ( 3.14 *
                    Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2),2) ) ) + 40 *
                    Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2).toFixed(2)).toFixed(2)}}
                </div>
                Масса заготовки вычисляется по формуле ( где c - плотность материала прессуемого профиля, для
                алюминиевого сплава АД1 с = 2710кг/м<sup>3</sup> ):
                <div class="text-center h4">
                    G = V * c = F * L * c =
                    {{((Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2),2) *
                    3.14)/4/1000).toFixed(2)}} * {{((( ( 4 *
                    Math.abs((1760 + 140) * 8 + 500) * matrixChanel * fProfile ) / ( 3.14 *
                    Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2),2) ) ) + 40 *
                    Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2))/1000).toFixed(2)}}
                    * 2,7 = {{(((Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2),2) *
                    3.14)/4/1000).toFixed(2) * ((( ( 4 *
                    Math.abs((1760 + 140) * 8 + 500) * matrixChanel * fProfile ) / ( 3.14 *
                    Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2),2) ) ) + 40 *
                    Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                    ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                    (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2))/1000).toFixed(2) *
                    2.7).toFixed(2)}} кг.
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Размеры</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Диаметр заготовки</td>
                        <td>{{(1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2)}} мм.</td>
                    </tr>
                    <tr>
                        <td>Длина прессуемой заготовки</td>
                        <td>{{(( ( 4 *
                            Math.abs((1760 + 140) * 8 + 500) * matrixChanel * fProfile ) / ( 3.14 *
                            Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                            (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2),2) ) ) + 40 *
                            Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                            ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                            (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2).toFixed(2)).toFixed(2)}}
                            мм.
                        </td>
                    </tr>
                    <tr>
                        <td>Масса заготовки</td>
                        <td>{{(((Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2),2) *
                            3.14)/4/1000).toFixed(2) * ((( ( 4 *
                            Math.abs((1760 + 140) * 8 + 500) * matrixChanel * fProfile ) / ( 3.14 *
                            Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                            (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2),2) ) ) + 40 *
                            Math.pow((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) /
                            ((1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))).toFixed(2) -
                            (1.13*(Math.sqrt(matrixChanel*lengthFactor*fProfile))*0.08).toFixed(2)),2))/1000).toFixed(2)
                            *
                            2.7).toFixed(2)}} кг.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="small text-center"><strong>Таблица 1. Химический состав алюминия марки АД1.</strong>
                </div>
            </div>
        </div>
    </div>
</div>
