<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Табличные данные
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Условия прессования</th>
                        <th>&mu;<sub>м</sub></th>
                        <th>&mu;<sub>п</sub></th>
                        <th>&mu;<sub>кр</sub></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Со смазкой</td>
                        <td>0,15</td>
                        <td>0,10</td>
                        <td>0,12</td>
                    </tr>
                    <tr>
                        <td>Без смазки</td>
                        <td>0,45</td>
                        <td>0,20</td>
                        <td>0,50</td>
                    </tr>
                    </tbody>
                </table>
                <div class="small text-center"><strong>Таблица 6 - Значения коэффициентов трения.</strong></div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Информация
                </div>
            </div>
            <div class="panel-body">
                Усилие прессования находим по наиболее распространенной формуле И.Л. Перлина:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm7.jpg"/>
                </div>
                где R<sub>m</sub> - усилие, необходимое для осуществления деформации без учёта внешнего трения; Ткр, Тм,
                Тп -
                усилия, необходимые для преодоления сил трения по боковой поверхности контейнера, матрицы и калибрующего
                пояска
                соответственно.
                Составляющие полного усилия при прессовании сплошных профилей из сплошной цилиндрической заготовки
                вычисляют по
                выражениям:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm8.jpg"/>
                </div>
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm9.jpg"/>
                </div>
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm10.jpg"/>
                </div>
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm11.jpg"/>
                </div>
                В этих формулах:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm12.jpg"/>
                </div>
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm13.jpg"/>
                </div>
                где i - интегральный показатель деформации; i<sub>доп</sub> - интегральный показатель дополнительной
                деформации;
                f<sub>ср.пр.</sub> - средняя площадь профиля, разбитого на N участков;
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm14.jpg"/>
                </div>
                h - высота очага деформации;
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm15.jpg"/>
                </div>
                б - угол наклона образующей канала матрицы к ее оси, б=60°;
                F<sub>тр</sub> - поверхность трения;
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm16.jpg"/>
                </div>
                П - периметр профиля;
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm17.jpg"/>
                </div>
                l = 3 - длина калибрующего пояска;
                &mu;<sub>кр</sub>, &mu;<sub>п</sub>, &mu;<sub>м</sub> - коэффициенты трения на контактных поверхностях
                матрицы,
                калибрующего пояска и боковой поверхности контейнера.

                Sh, Sk, Sc - истинные пределы текучести соответственно в начале и конце очага пластической деформации,
                среднее
                по очагу деформации.
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">
                    Расчеты
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="text-center h4">Введите значения для расчета</div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                S<sub>h</sub> =
                            </div>
                            <input type="number" ng-model="sH" ng-init="sH=4" class="form-control"/>

                            <div class="input-group-addon">МН/м<sup>2</sup></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                S<sub>k</sub> =
                            </div>

                            <input type="number" ng-model="sK" ng-init="sK=22" class="form-control"/>

                            <div class="input-group-addon">МН/м<sup>2</sup></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Результаты расчета
                </div>
            </div>
            <div class="panel-body">
                По диаграмме - Рисунок 5 для сплава АД1 при ф = 1.5 сек и Тнагр=450°С определяем значение S<sub>h</sub> = {{sH}}
                и S<sub>k</sub> = {{sK}}.

                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm26.jpg" width="40%"/>

                    <div class="small"><strong>Рисунок 5 - Зависимость сопротивления деформирования (S) сплава АД1 от
                        температуры (Т°С)
                        и длительности деформации (ф)</strong>
                    </div>
                </div>
                Предел текучести около боковой поверхности:
                <div class=" text-center h4">
                    S<sub>кр</sub> = 1,5 * {{sH}} = {{(sH*1.5).toFixed(2)}}
                </div>
                <div class=" text-center h4">
                    S<sub>с</sub> = &#8730;{{sH}} * {{sK}} = {{(Math.sqrt(sH*sK)).toFixed(2)}}
                </div>
                Найденное расчётное значение усилия пресса сравниваем с предварительно выбранным по таблице и видим, что
                расчётное усилие меньше номинального усилия 20 МН, следовательно, пресс выбран правильно.
            </div>
        </div>
    </div>
</div>