<div class="row">
<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Медиаматерилы
            </div>
        </div>
        <div class="panel-body">
            Видео ниже, также содержит описание данного сплава:
            (видео надо найти)
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Химический состав и влияние легирующих элементов
            </div>
        </div>
        <div class="panel-body">
            Сплав АД1 это технически чистый алюминий чистотой не менее 99,3%.
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>A1</th>
                    <th>Si</th>
                    <th>Fe</th>
                    <th>Cи</th>
                    <th>Мп</th>
                    <th>Mg</th>
                    <th>Zn</th>
                    <th>Ti</th>
                    <th>Примеси, не более</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>99,3</td>
                    <td>0,3</td>
                    <td>0,3</td>
                    <td>0,05</td>
                    <td>0,025</td>
                    <td>0,05</td>
                    <td>0,1</td>
                    <td>0,15</td>
                    <td>0,05</td>
                    <td>0,15</td>
                </tr>
                </tbody>
            </table>
            <div class="small text-center"><strong>Таблица 1. Химический состав алюминия марки АД1.</strong></div>
            Основные примеси в алюминии это железо и кремний. Железо снижает пластические свойства алюминия и
            уменьшает коррозионную стойкость. Кремний, растворяясь в алюминии, несколько упрочняет его,
            незначительно снижая при этом пластические свойства. Железо и кремний определяют уровень механических
            свойств алюминия.
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                Диаграмма состояния и пластичности
            </div>
        </div>
        <div class="panel-body">
            Промышленный алюминий по существу является тройным сплавом Аl-Fe-Si. На рисунке 2 приведена диаграмма
            состояния сплава.
            <div class="text-center">
                <img class="img-thumbnail" ng-src="content/2.jpg" alt="Рисунок 2" width="40%"/>
            </div>
            Если в алюминии одновременно присутствуют железо и кремний, то могут образоваться два тройных химических
            соединения б(Al-Fe-Si) и в(Al-Fe-Si). Железо - практически не растворимый в алюминии элемент. При
            ничтожно
            малых его содержаниях в структуре алюминия появляется эвтектика Аl + Al3Fe. Соединение Al3Fe выделяется
            в
            виде игл, служащих готовыми надрезами в металле.
            Кремний не образует с алюминием химических соединений и присутствует в элементарном виде.
            <div class="text-center">
                <img class="img-thumbnail" ng-src="content/3.jpg" alt="Рисунок 3" width="40%"/>

                <div class="small"><strong>Рисунок 3 - Диаграмма пластичности сплава АД1</strong></div>
            </div>
            Полуфабрикаты из алюминия марки АД1 поставляют либо в горячепрессованном, либо в отожженном состоянии.
            Для
            снятия напряженного состояния применяют отжиг при температуре 300 - 500°С с выдержкой 10-30 мин.
        </div>
    </div>
</div>
</div>