<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Физические и механические свойства сплава АД1</div>
    </div>
    <div class="panel-body">
        Физические свойства сплава АД1 представлены в таблице ниже.
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Сплав</th>
                <th>Состояние</th>
                <th>Теплопроводность л при 25°С, Вт/м*°С</th>
                <th>Удельн. электрич. сопротивление с•108 Ом*м</th>
                <th>Плотность г/см<sup>3</sup></th>
                <th>Коэффиц. линейного расширен, при 20- 100°С, б*10<sup>6</sup>, °С<sup>-4</sup></th>
                <th>Удельн. теплоемк. С при 100°С, кДж/кг*°С</th>
                <th>Темпер плавления, °С</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>АД1</td>
                <td>М</td>
                <td>226,08</td>
                <td>2,9</td>
                <td>2,71</td>
                <td>24</td>
                <td>0,9218</td>
                <td>643</td>
            </tr>
            <tr>
                <td></td>
                <td>Н</td>
                <td>217,71</td>
                <td>3,0</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td>657</td>
            </tr>
            </tbody>
        </table>
        <div class="small text-center"><strong>Таблица 2 - Физические свойства сплава АД1</strong></div>
        Механические свойства технически чистого алюминия марки АД1 приведены в таблице 3.
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>уB, МПа</th>
                <th>у02, МПа</th>
                <th>д, %</th>
                <th>ш, %</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>80</td>
                <td>30</td>
                <td>35</td>
                <td>80</td>
            </tr>
            </tbody>
        </table>
        <div class="small text-center"><strong>Таблица 3 - Механические свойства отожженного технического
            алюминия марки АД1</strong></div>
        Алюминий имеет высокую теплопроводность и электропроводность. Электропроводность чистого алюминия составляет
        60% от электропроводности меди, что обеспечивает алюминию при его малом удельном весе широкое применение в
        электротехнике в качестве проводникового материала.
        Высокая коррозионная стойкость алюминия обеспечивает широкое его применение в химическом аппаратостроении, в
        быту и других областях.
        Так как сплав АД1 имеет низкую прочность, поэтому применение его как конструкционного материала ограничено.
        Технический алюминий характеризуется высокими технологическими свойствами. Из него могут быть изготовлены
        любые полуфабрикаты различных габаритов.
    </div>
</div>