<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Информация
                </div>
            </div>
            <div class="panel-body">
                Температурный интервал прессования определяется температурой начала Тн и конца Тк. Его выбирают так,
                чтобы при
                верхних предельных температурах не происходило перегрева или пережога металла, а при нижних - усилие
                прессования
                оказалось меньше предельного (паспортного) усилия пресса и обеспечивало требуемое качество структуры
                прессового
                изделия.
                Для выбора температурного режима прессования используют диаграммы состояния и пластичности.
                Максимальная температура прессования Тмакс. Должна соответствовать максимальному значению относительного
                сужения
                ш и относительного удлинения д при минимальном (или близком к нему) значении предела текучести ут.
                Причём значение этой температуры не должно превышать 0,9Ts, где Ts - температура линии солидуса. Для
                сплава АД1
                температура линии солидуса Ts = 540°С.
                С учётом охлаждения во время транспортировки ДТтр от нагревательного устройства к прессу температура
                нагрева
                заготовки рассчитывается по формуле:
                <div class="text-center h4">
                    Тнагр = Тн + ДТтр = Тмакс - ДТдеф + ДТтр
                </div>
                где ДТдеф - тепловой эффект деформации.<br/>
                Разогрев металла от деформации можно найти по приближенной формуле:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm5.jpg"/>
                </div>
                где &#963;<sub>т</sub> - предел текучести при температуре Тмакс (определяется по диаграмме пластичности)
                и в данном сплаве
                c - средняя
                удельная теплоёмкость = 870 Дж/кг*град.
                <br />
                Падение температуры при транспортировке находится из выражения:
                <div class="text-center">
                    <img class="img-thumbnail" ng-src="content/frm6.jpg"/>
                </div>
                где Ф<sub>тр</sub> - время транспортировки, находится в пределах - 10-30 с; Vохл - средняя скорость
                охлаждения пределы которой находятся в интервале 2-5 °С.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">
                    Расчеты
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="text-center h4">Введите значения для расчета</div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                Тмакс =
                            </div>
                            <input
                                    type="number" ng-model="Tmax" class="form-control" ng-init="Tmax=450"/>

                            <div class="input-group-addon">°С</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                &#963;<sub>т</sub> =
                            </div>
                            <input type="number" ng-model="sigmaT" ng-init="sigmaT=8" class="form-control"/>

                            <div class="input-group-addon">МПа</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Результаты расчета
                </div>
            </div>
            <div class="panel-body">
                Разогрев металла от деформации:
                <div class="text-center h4">
                    &#916;T<sub>деф</sub> = ( {{sigmaT/10}} * ln(34.64) ) / ( 870 * 2710 ) = {{(( (sigmaT/10) *
                    Math.log(34.64) ) / ( 870 * 2710 )).toFixed(9)}}
                </div>
                Падение температуры при транспортировке:
                <div class="text-center h4">
                    &#916;T<sub>тр</sub> = 10 x 2 = 20&#176;C
                </div>
                Температура нагрева заготовки:
                <div class="text-center h4">
                    Т<sub>нагр</sub> = {{Tmax}} - {{(( (sigmaT/10) * Math.log(34.64) ) / ( 870 * 2710 )).toFixed(9)}} +
                    20 = {{(Tmax - (( (sigmaT/10) * Math.log(34.64) ) / ( 870 * 2710 )).toFixed(9) + 20).toFixed(2)}}&#176;C
                </div>
            </div>
        </div>
    </div>
</div>