.panel-body {
    word-wrap: break-word!important;
    overflow: hidden;
    text-align: justify;
}
body {
    background: url('bg-texture-2.png') repeat;
}
.wrapper {
    max-width: 1300px!important;
    margin: 0 auto!important;
    margin-top: 5%!important;
}
.navbar-fixed-top {
    font-size: 1.6rem;
    opacity: 0.9;
    padding: 5px;
    background-color: white;
}